/* Navbar */
.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 8%;
    background-color: white;
    z-index: 9;
}

.navbar-container ul{
    display: flex;
    list-style: none;
    padding: 1em;
    justify-content: center;
    margin: 0 0 0 16em;
}
.navbar-container li{
    padding: 0.7em 0;
}
.menu-option{
    /* makes text unselectable, but not good for accessability*/
    user-select: none;
    padding: 0.5em 1em;
}

/* Popups */
.popup {
    position: absolute;
    height: 310px;
    top:90%;
    left: 18vw;
    right: 18vw;
    background-color: rgb(255, 255, 255);
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s linear;
    z-index: 8;
    border-radius: 10px;
}
.navbar-container li:hover .popup {
    pointer-events: auto;
    opacity: 1;
}
.navbar-container li:hover .popup.show-left{
    pointer-events: auto;
    animation: slide-in-left 0.6s forwards;

}
.navbar-container li:hover .popup.show-right{
    pointer-events: auto;
    animation: slide-in-right 0.6s forwards;

}



/* Popup content */
.popup-content{
    display:flex;
    justify-content: space-between;
    padding: 3em 3em;
    height: 100%;
}
.menu-options-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-options-section a{
    padding-bottom: 2em;
}

/* Popup animation */
@keyframes slide-in-left {
    from {
        transform: translateX(10%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    from {
        transform: translateX(-10%);
    }
    to {
        transform: translateX(0);
    }
}