/* ---- progressTracker.tsx ---- */
.progressTracker_container{
    width: 300px;
    font-size: 10px;
    background-color: azure;
}


/* ---- navbar.tsx ---- */


/* ---- popupimg.tsx ---- */
.popup_img_container {
    width: 300px;
    height: 500px;
    overflow: hidden;
    cursor: pointer;
}

.popup_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.popup_img_container:hover .popup_img {
    transform: scale(1.02);
}


.popup_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 8;
}

.popup_content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
}

.popup_expanded {
    max-width: 100%;
    max-height: 90vh;
    object-fit: contain;
}



/* ---- popuplink.tsx ---- */

/* ---- footer.tsx ---- */

/* ---- navbar.tsx ---- */